<!DOCTYPE html>
<html>
  <head>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <form action="/" method="GET"><button>Get Chuck Norris Joke</button></form>
    <img src="<%= icon %>" alt="">
    <h3><%= joke %></h3>
  </body>
</html>
